.triad-blue{
    background-color: #5D22C5;
}

.main-green{
    background-color: #5BC34A;
}
.base-green{
    background-color: 	#46A734;
}
.accent-green-p{
    background-color: #A3161A;
}
.accent-blue-p{
    background-color: #49348B;
}
.black-green{
    background-color: #327725;
}
.png-shadow{
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.rotate {
    transform: rotateX(360deg);
}

.transitionCus {
  transition: transform 0.5s ease-in-out;
}
.height100{
    height: 100%;
}
#drawer-nav{
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}
#drawer-backdrop{
    height: 100%;
}
  

@media screen {
    @media only screen and (max-width: 1000px) {
    html, body {
      overflow: auto;
    }
    #drawer-nav{
        overflow: scroll;
    }
    #drawer-backdrop{
        overflow: scroll;  
    }
    }
}
